<p>sortbc works!</p>

<div class="card">
    <p-card header="name of restaurant" subheader="address"[style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <p-avatar class="kosher" label="kosher" [style]="{ width: '100px'}"></p-avatar>
            <img alt="Card" src="../../assets/images/4.jpg" />
        </ng-template>
        
        <ng-template pTemplate="footer">
            <p-button label="open" (click)="open()"></p-button>
        </ng-template>
    </p-card>
</div>