<div class="rest">
    <h1>name of restaurant</h1>
    <!-- <h2>address</h2> -->
    <p-accordion>
        <p-accordionTab header="description">
            this is the .....        
        </p-accordionTab>
    </p-accordion>
    <div class="container">
        <div class="section section-1">
            <h2>details of restaurant:</h2>
            <h4>phone:</h4>
            <p>-----------</p>
            <h4>address:</h4>
            <p>-----------</p>
            <h4>time open:</h4>
            <p>-----------</p>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="section section-2">
          
<div class="card flex justify-content-center">
    <p-card>
        <div class="container">
        <div class="section section-1">
        <h3>title</h3>    
        <p class="m-0">
            Lorem ipsum dolor sit amet
        </p>
        <h2>100</h2>
    </div>
    <div class="section section-4"></div>
    </div>
    </p-card>
</div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="section section-3">
            How to get there?
        </div>
      </div>
</div>