<div class="container">
  <!-- <div class="section section-1">
   
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
<div class="section section-4">
  <h1 dir="rtl"> משלוחי אוכל</h1>
  <h3 dir="rtl">
מתחשק לכם לענג את החיך עם ארוחה טעימה במיוחד, ואין לכם זמן להגיע עד למסעדה? <br/>באתר the faster משלוחים - הגדול, המגוון והעדכני בישראל - מציעים מגוון רחב של משלוחי אוכל.<br/> האתר מנגיש עבורכם אלפי תפריטים ויזואליים ממסעדות מובילות בפריסה ארצית.<br/> באמצעות אתר משלוחים תוכלו לבצע הזמנות משלוחי אוכל on-line או באמצעות הטלפון בדרך היעילה, הפשוטה והקצרה ביותר וליהנות מחוויית גלישה קולינרית.<br/> אז שיהיה בתיאבון, המשלוח כבר בדרך אליכם.
  </h3>
</div> -->
<img src="../../assets/images/1.png" class="img1">  
</div>  


    
